{% extends "layout.html" %}
{% load static %}
{% block contenedor %}
<div class="container">
    <div class="row">
        <div class="col-12 prueba">
          <br/><br/><br/><br/><br/>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    {% for producto in productos %}

        <div class="col-12 col-lg-4">
            <div class="card" style="width: 18rem;">
                <img src="/media/{{producto.imagen}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{producto.producto}}</h5>
                    <p class="card-text">{{producto.descripcion|slice:":95"}}</p>
                    
                    <hr/>
                    <input type="submit" class="float-rigth  btn btn-primary" id="id{{producto.id}}mas" value="+"/>
                    <input type="text" class="" id="contador{{producto.id}}" placeholder="0">
                    <input type="submit" class="float-rigth  btn btn-primary" id="id{{producto.id}}menos" value="-"/>


                </div>
            </div>
        </div>
    {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-12 prueba">
        <br/><br/><br/><br/><br/>
      </div>
  </div>
</div>
{% endblock  %}

{% block script %}

 
<script>
/*jslint browser: true*/
/*jslint plusplus: true*/
/*global FormData: false */
/*global $, jQuery, alert, console*/
/*..............................................................................................
... PARA VALIDAR LOS DATOS .....................................................
.............................................................................................*/
var csrftoken = $.cookie('csrftoken');
function csrfSafeMethod(method) {
    "use strict";
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function AgregarI(cada_producto_id, valor) {
    "use strict";

    console.log(cada_producto_id, valor)
    $.ajax({
        beforeSend : function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
        url : "/tienda/agregar/",
        type : "GET",
        data : { cada_producto_id:cada_producto_id, valor:valor},
        success : function (json) {
            console.log(json[0].idproducto.toString())
            console.log(json[0].cantida.toString())
            localStorage.setItem(json[0].idproducto.toString(), json[0].cantida.toString());
            //location.reload();
            console.log("ok++++++++++++++++++++++++")
        },
        error : function (xhr, errmsg, err) {
            console.log('Error en carga de respuesta');
        }
    });
} 





$('.agregar').click(function (event) {
    "use strict";
    event.preventDefault();
    let cada_producto_id = $(this).parent().find('.verid').val();
    let valor = $(this).parent().find('.vervalor').val();
    console.log("cada_producto_id: ", cada_producto_id);
    console.log("valor: ",valor);

    //PASO 1: Remuevo todo item que no inicia con utn_
    let i;
    for(i = 0; i < localStorage.length; i++){
        let clave_eliminar = localStorage.key(i);
        console.log(typeof clave_eliminar);
        console.log("clave_eliminar: ",clave_eliminar);
        if(!clave_eliminar.startsWith("utn_")){
            console.log("retorna NO verdadero !!!!!!!!!!!!!");
            localStorage.removeItem(clave_eliminar);
            console.log("retorna NO verdadero !!!!!!!!!!!!!");
        }
    }

    //PASO 2: Si es la primera vez que selecciono el valor me quedo con "valor=1"
    //Si ya existia un valor en la base tomo ese valor en lugar de 1
    for(i = 0; i < localStorage.length; i++){
        let clave = localStorage.key(i);
        let el_valor = localStorage[clave];
        if(clave == cada_producto_id){
            console.log("-----1112------")
            console.log(clave);
            console.log(valor);
            valor = el_valor;
            console.log("-----1112------")
        }else{
            console.log("no hay coincidenciaaaa");
        }   
    }

    AgregarI(cada_producto_id, valor);

});




{% for i in productos %}

let cantidadid{{i.id}} = localStorage.getItem("id{{i.id}}");
console.log(cantidadid{{i.id}});
if (cantidadid{{i.id}} == null) {
    localStorage.setItem("id{{i.id}}", 0);
};

function actualizarContador{{i.id}}(){ 
    console.log("actualiardor de contadores nasheee");
    document.getElementById("contador{{i.id}}").value=parseInt(localStorage.getItem("id{{i.id}}"));
}
actualizarContador{{i.id}}()
$('#id{{i.id}}mas').click(function (event) {
    let cantidadid{{i.id}} = parseInt(localStorage.getItem("id{{i.id}}"));
    localStorage.setItem("id{{i.id}}", cantidadid{{i.id}}+1);
    actualizarContador{{i.id}}()
});
$('#id{{i.id}}menos').click(function (event) {
    let cantidadid{{i.id}} = parseInt(localStorage.getItem("id{{i.id}}"));
    if( cantidadid{{i.id}} > 0){    
    localStorage.setItem("id{{i.id}}", cantidadid{{i.id}}-1);
    }
    actualizarContador{{i.id}}()
});




{% endfor %}



</script>
{% endblock %}