{% extends "layout.html" %}
{% load static %}
{% block contenedor %}
<div class="container">
    <div class="row">
        <div class="col-12 prueba">
          <br/><br/><br/><br/><br/>
        </div>
    </div>
</div>
<div class="container">
  <div class="row">
    {% for producto in productos %}
      <div class="col-12 col-md-4">
          <a href="{% url 'ver' producto.id%}">
              <img src="/media/{{producto.imagen}}" style="width: 100%;"/>
          </a>
          <div class="card-body">
            <h5 class="card-title">{{producto.producto}}</h5>
            <p class="card-text">{{producto.descripcion|slice:":95"}}</p>
            
            <hr/>
            
        </div>
        <input type="submit"  hidden class="col-12 vervalor" value="1"/>
        <input type="submit"  hidden class="col-12 verid" value="utn_{{producto.id}}"/>
        <button type="button" class="btn btn-primary agregar">
            {{producto.id}} Agregar
        </button>
        <span></span>
            
      </div>
      {% endfor %}
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-12 prueba">
        <br/><br/><br/><br/><br/>
      </div>
  </div>
</div>
{% endblock  %}

{% block script %}
<script src="https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script> 
 
<script = "text/javascript">
/*jslint browser: true*/
/*jslint plusplus: true*/
/*global FormData: false */
/*global $, jQuery, alert, console*/
/*..............................................................................................
... PARA VALIDAR LOS DATOS .....................................................
.............................................................................................*/
var csrftoken = $.cookie('csrftoken');
function csrfSafeMethod(method) {
    "use strict";
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}

function AgregarI(cada_producto_id, valor) {
    "use strict";

    console.log(cada_producto_id, valor)
    $.ajax({
        beforeSend : function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
        url : "/tienda/agregar/",
        type : "GET",
        data : { cada_producto_id:cada_producto_id, valor:valor},
        success : function (json) {
            console.log(json[0].idproducto.toString())
            console.log(json[0].cantida.toString())
            localStorage.setItem(json[0].idproducto.toString(), json[0].cantida.toString());
            //location.reload();
            console.log("ok++++++++++++++++++++++++")
        },
        error : function (xhr, errmsg, err) {
            console.log('Error en carga de respuesta');
        }
    });
} 





$('.agregar').click(function (event) {
    "use strict";
    event.preventDefault();
    let cada_producto_id = $(this).parent().find('.verid').val();
    let valor = $(this).parent().find('.vervalor').val();
    console.log("cada_producto_id: ", cada_producto_id);
    console.log("valor: ",valor);

    //PASO 1: Remuevo todo item que no inicia con utn_
    let i;
    for(i = 0; i < localStorage.length; i++){
        let clave_eliminar = localStorage.key(i);
        console.log(typeof clave_eliminar);
        console.log("clave_eliminar: ",clave_eliminar);
        if(!clave_eliminar.startsWith("utn_")){
            console.log("retorna NO verdadero !!!!!!!!!!!!!");
            localStorage.removeItem(clave_eliminar);
            console.log("retorna NO verdadero !!!!!!!!!!!!!");
        }
    }

    //PASO 2: Si es la primera vez que selecciono el valor me quedo con "valor=1"
    //Si ya existia un valor en la base tomo ese valor en lugar de 1
    for(i = 0; i < localStorage.length; i++){
        let clave = localStorage.key(i);
        let el_valor = localStorage[clave];
        if(clave == cada_producto_id){
            console.log("-----1112------")
            console.log(clave);
            console.log(valor);
            valor = el_valor;
            console.log("-----1112------")
        }else{
            console.log("no hay coincidenciaaaa");
        }   
    }

    AgregarI(cada_producto_id, valor);

});






</script>
{% endblock %}