footer{
    opacity: 90%;

  }

.fa {  
    padding: 20px;  
    text-align: center;  
    margin: 5px 2px;  
    font-size: 20px;  
    width: 60px;
    
  }  
  .fa-facebook {  
    background: #3B5998;  
    color: white;  
  }  
  .fa-twitter {  
    background: #55ACEE;  
    color: white;  
  }  
  .fa-pinterest {  
    background: #cb2027;  
    color: white;  
  }  
  .fa-linkedin {  
    background: #007bb5;  
    color: white;  
  }  
  .fa-instagram {  
    background: #125688;  
    color: white;  
  }  
  .fa-youtube {  
    background: #bb0000;  
    color: white;  
  }  
  .fa-google {  
    background: #dd4b39;  
    color: white;  
  }  

  .fa:hover {  
      opacity: 0.9;  
  }  
  


body { padding-top: 57px; 
    width:100%;
    height:100%;
    margin:0 auto;
    background-size: cover;
    background-image: url("/media/fondo.jpg");
    background-position: 50% 50%;
}

