p {
  color: $color1; 
  font-size: 20px;
  width: 265px;
  height: 110px;
}

#mi_parrafo {
  color: #02F520;
  background-color: $color2;
}

.color1{background-color:#F0738F;}
.color2{background-color:#0CF86C;}
.color3{background-color:#0CACF8;}
