{% extends "base.html" %}
{% load i18n %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="/media/temploicon.png" alt="" width="30" height="30"> Templo3D
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="./">Inicio</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categorias
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="./catalog">Soporte Celulares</a></li>
                <li><a class="dropdown-item" href="./catalog">Soporte Auriculares</a></li>
                <li><a class="dropdown-item" href="./catalog">Soporte Joysticks</a></li>
                <li><a class="dropdown-item" href="./catalog">Soporte Gaming</a></li>
                <li><a class="dropdown-item" href="./catalog">Soporte Esculturas</a></li>
                <li><a class="dropdown-item" href="./catalog">Soporte Llaveros</a></li>
                <li><a class="dropdown-item" href="./catalog">Soporte Mates</a></li>
                <li><a class="dropdown-item" href="./catalog">Soporte Macetas</a></li>
                <li><a class="dropdown-item" href="./catalog">Soporte Cortantes</a></li>
                <li><a class="dropdown-item" href="./catalog">Soporte Decoración</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="./catalog">Ver Todo</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./imprimitumodelo">Imprimi tu Modelo</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#">Mi Cuenta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Carrito</a>
            </li>
        </ul>
      </div>
    </div>
</nav>



    {% block contenedor %}


    {% endblock  %}


    
    <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <a href="#" class="fa fa-facebook"></a>  
            <a href="#" class="fa fa-twitter"></a>  
            <a href="#" class="fa fa-pinterest"></a>  
            <a href="#" class="fa fa-linkedin"></a>  
            <a href="#" class="fa fa-instagram"></a>  
            <a href="#" class="fa fa-youtube"></a>  
            <a href="#" class="fa fa-google"></a>  

          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="#">templo3d.com</a>
        </div>
        <!-- Copyright -->
      </footer>
      
{% endblock  %}