<!DOCTYPE html>

{% extends "layout.html" %}
{% load static %}
{% block contenedor %}

  <div class="container">
    <div class="row">
      <div class="col">
  
                  <div class="card" >
                    <img src="/media/producto2.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Nombre Producto</h5>
                      <p class="card-text">Descripcion del producto</p>
                      <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                  </div>
      </div>
      <div class="col">
        <div class="card" >
                    <img src="/media/producto1.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Nombre Producto</h5>
                      <p class="card-text">Descripcion del producto</p>
                      <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                  </div>
      </div>
      <div class="col">
        <div class="card" >
                    <img src="/media/producto3.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Nombre Producto</h5>
                      <p class="card-text">Descripcion del producto</p>
                      <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                  </div>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  



{% endblock  %}