{% load static %}
<!Doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
	   	<meta name="viewport" content="width=device-width, initial-scale=1">
	   	<title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}{% endblock %}</title>
		<meta name="keywords" content="{{ palabras_claves }}" />
		<meta name="description" content="{{ descripcion }}" />
	   	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
	    
	</head>
	
	<body>
        <h1>Hola  {{nombre_sitio}}</h1>
        <h2>Hola</h2>
        <p>Hola</p>
     
        <div>div 1</div>
        <div>div 2</div> 
        <div>div 3</div> 
	
	</body>
</html>
