{% extends "layout.html" %}
{% load static %}
{% block contenedor %}

<div class="container">
  <div class="col-12" >
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
          {% for producto in producto|slice:"0:1"  %}  
        <div class="carousel-item active">
          <img class="card-img-top pb-1 img_lat" src="/media/{{producto.imagen}}" alt="{{imagenes.nombre}}" /> 
        </div>
        {% endfor %}

        {% for producto in producto|slice:"1:3" %}  
        <div class="carousel-item  ">
          <img class="card-img-top pb-1 img_lat" src="/media/{{producto.imagen}}" alt="{{imagenes.nombre}}" /> 
        </div>
        {% endfor %}

      </div>
      
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  {% for producto in producto %}

    <div class="col-12 col-lg-4 " id="id{{producto.id}}">
        <div class="card" style="width: 18rem;">
            <img src="/media/{{producto.imagen}}" class="card-img-top" alt="...">
            <div class="card-body" >
                <h5 class="card-title">{{producto.producto}}</h5>
                <p class="card-text">{{producto.descripcion|slice:":95"}}</p>
                <hr/>
            </div>
        </div>
    </div>
  {% endfor %}





  <div class="container">
    <div class="row">
        <div class="col-12 prueba" style="padding-top:300px;">
  
        </div>
    </div>
  </div>


</div>

{% endblock  %}

{% block script %}

{% for producto in producto %}
<script>
gsap.to("#id{{producto.id}}",{
  scrollTrigger:{
    trigger:"#id{{producto.id}}",
    start:'top 55%',
    markers:true,
    end:'bottom 65%',
    toggleActions:'play continue reverse continue',



  },
  rotation:360,
  x:250,
  duration:0.5,
});
</script>
{% endfor %}
{% endblock %}